@charset "UTF-8";
/* CSS Document */

#body, h1, h2, nav, header, ul, li {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#home {
	background-color: yellow;
}

#features {
	background-color: yellow;
}

#gallery {
	background-color: gray;
	clear: both;
	overflow: auto;
}

#movie {
	background-color: yellow;
}

#about {
	background-color: yellow;
}

#contact {
	background-color: yellow;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.column-features, .column-gallery {
	width: 33%;
	float: left;
	padding-right: 30px;
}

.column-gallery {
	width: 20%;
	padding: 0 25px;
}

.column-gallery img, .column-features img {
	width: 100%;
}