@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

#body, h1, h2, h3, nav, header, ul, li, p {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h3 {
	margin: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	overflow: auto;
	background: white;
	position: fixed;
	top: 30px;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	z-index: 1;
}

#home {
	background: #f8e514 url("../images/home-screen.png") no-repeat center;
	overflow: auto;
	background-height: 100%;
	min-height: 780px;
}

#features {
	background-color: yellow;
	clear: both;
}

#gallery {
	background-color: yellow;
	clear: both;
	overflow: auto;
}

#movie {
	background-color: yellow;
}

#about {
	background-color: yellow;
}

#contact {
	background-color: yellow;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	overflow: auto;
}

.column-features, .column-gallery {
	width: 33%;
	float: left;
	padding-right: 30px;
}

.column-gallery {
	width: 20%;
	padding: 0 25px;
}

.column-gallery img, .column-features img {
	width: 100%;
}

.welcome-image {
	float: right;
}

#movie img {
	width: 100%;
}

.logo {
	float: left;
}

.intro {
	float: left;
	width: 45%;
	margin-top: 350px;
}

#home .wrapper {
	position: relative;
	min-height: 780 px;
}

nav {
	float: right;
}

nav ul {
	list-style-type: none;
}

nav li {
	float: left;
	margin: 42px;
}

.home-image {
	position: absolute;
	right: 0;
	z-index: 0;
}

#features h2 {
	text-align: center;
}

#gallery h2 {
	text-align: center;
}

.feature-details {
	padding: 20px;
	overflow: auto;
	cursor: default;
}

.feature-details: hover {
	background: #fbfbe9;
}

.feature-details span {
	float: left;
	font-size: 30px;
	line-height: 30px;
	width: 15%;
	margin-top: 0;
}

.feature-content {
	width: 85%;
	float: left;
}

/* Typography */

.logos {
	margin: 88px
}

.logo {
	margin: 40px;
}

.buttons {
	border: medium;
	border-style:solid